<h2>Sign up</h2>

<div class="form-stacked">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% unless @user.errors.blank? %>
  <div class="alert-message error block-message">
    <%= devise_error_messages! %>
  </div>
<% end %>
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up", :class => "btn" %></p>
<% end %>
</div>
<%= render :partial => "devise/shared/links" %>
