<%= link_to 'Hot', '#' %> | <%= link_to 'Latest', links_latest_path %>
<hr />
<% @links.each do |link| %>
  <h3><%= link_to link.title, link.url %> (<%= url_takes_a_bath(link.url) %>)</h3>
  <p>
  submitted by <%= fu_robots(link.user.email) %> <%= time_ago_in_words(link.created_at, Time.now) %> ago
  </p>
<% end %>
<div id="submit-link"><%= link_to "Submit a Link", new_link_path %></div><!-- end of submit-link div -->
