#link-show-header
  %h3= link_to @link.title, @link.url

#link-show-submitter
  submitted by: #{ link_to fu_robots(@link.user.email), @link.user }

#link-short-url
  short-url: #{ link_to @link.short_url, @link.short_url }

#link-show-comment-header
  %h3 Comments

.clearfix
  #comment-container
    - @link.comments.each do |comment|
      #comment-author
        #{ time_ago_in_words(comment.created_at, Time.now) } ago #{ comment.commenter } said: 
      #comment-body
        = comment.body

#add-comment-container
  #add-comment-header
    %h2 Add a comment:
= render :partial => 'comments/new'
