<div id="link-show-header">
<h3><%= link_to @link.title, @link.url %></h3>
</div>
<div id="link-show-submitter">
submitted by: <%= link_to fu_robots(@link.user.email), @link.user%>
</div>
<div id="link-show-comment-header">
<h3>Comments</h3>
</div>
<div id="comment-container">
<% @link.comments.each do |comment| %>
    <div id="comment-author">
    <%= time_ago_in_words(comment.created_at, Time.now) %> ago <%= comment.commenter %> said:
    </div>
    <div id="comment-body">
    <%= comment.body %>
    </div>
  <% end %>
</div><!-- end of comment-container div -->
<div id="add-comment-container">
  <div id="add-comment-header">
    <h2>Add a comment:</h2>
  </div>
<%= form_for([@link, @link.comments.build]) do |f| %>
  <div id="add-comment-commenter">
  <%= f.label :commenter %><br />
  <% if @user.blank?%>
    <%= f.text_field :commenter %>
  <% else %>
    <%= f.text_field :commenter, :value => @user.email.to_s %>
  <% end %>
</div>
<div id="add-comment-body">
  <%= f.label :body %><br />
  <%= f.text_area :body %>
</div>
  <div id="add-commen-actions">
    <%= f.submit %>
  </div>
<% end %>
</div><!-- end of add-comment-container div -->
