<p>
<h3><%= link_to @link.title, @link.url %></h3>
</p>
<p>
submitted by: <%= link_to fu_robots(@link.user.email), @link.user%>
</p>
<h3 id="word-comment">Comments</h3>
<p>
<% @link.comments.each do |comment| %>
  <div id="comment-container">
    <p id="comment-author">
    <%= time_ago_in_words(comment.created_at, Time.now) %> ago <%= comment.commenter %> said:
    </p>
    <p id="comment-body">
    <%= comment.body %>
    </p>
</div>
  <% end %>
  </p>
  <div id="add-comment" onclick="showCommentDiv('this');>
  <a href="#" id="add-comment" onclick="showCommentDiv('this');"><h2>Add a comment:</h2></a>
<%= form_for([@link, @link.comments.build]) do |f| %>
  <div id="commenter">
  <%= f.label :commenter %><br />
  <%= f.text_field :commenter, :value => @user.email %>
</div>
<div id="comment-body">
  <%= f.label :body %><br />
  <%= f.text_area :body %>
</div>
  <div id="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
