<!DOCTYPE html>
<html>
<head>
  <title>Rubeddit</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <script type="text/javascript" src="http://americancensorship.org/js"></script>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body style="background: padding: 0; margin:0;">
  <div class="container">
<%= render :partial => 'shared/nav' %>
<% if flash[:success] %>
  <p class="alert-message success"><%= flash[:success] %></p>
<% end %>
<% if notice %>
  <p class="alert-message info"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert-message warning"><%= alert %></p>
<% end %>
<div class="content">
  <%= yield %>
</div>
</div>

</body>
</html>
